/*
 *****************************************
 * Section Header =navbar
 *****************************************
 */

.logo {
  width: 72px;
}

/*
 *****************************************
 * Section Header =body
 *****************************************
 */

body {
  background-color: #f1f1f1;
}



.container {
  width: 1066px;
  margin: auto;
  background-color: purple;
}

/*
 *****************************************
 * Section Header =aside =right
 *****************************************
 */

aside {
  width: 418px;
  float: right;
  background-color: #fff;
  position: relative;
}



.links_container {
  width: 214px;
  float: right;
  background-color: #9e9f9g;
}

.links {
  margin: 0 0 0 18px;
  font-family: 'Roboto',arial,sans-serif;
  font-style: normal;
  text-decoration-style: solid;
}

h4.links {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #333;
}

span.links {
  font-size: 11px;
  display: block;
  font-weight:400;
  color: #767676;
}

 .video-link-container {
  width: 382px;
  margin: 0 18px;
  padding-top: 9px;
}

.first_box {
  padding-bottom: 17px;
  margin-bottom: 9px;
  border-bottom: 1px solid #e2e2e2;
}

/*
 *****************************************
 * Section Header =video_information
 *****************************************
 */

 iframe {
  float: left;
 }

section {
  width: 610px;
  float: left;
  background-color: #fff;
  position: relative;
  margin-top: 12px;
  padding: 15px 15px 5px 15px;

}

section h3 {
  font-family: 'Roboto',arial,sans-serif;
  font-size: 20px;
  margin: 0 0 0 -1px;
}

.video_poster {
  position: relative;
  text-decoration: none;

}

